body {
	background: #white;
	color: #black;
	font-family: 'lato', sans-serif;
}
h1 {
	font-weight: 700;
}

h3 {
	text-align: center;
	color: RGB(125,20,28);
	font-size: 35px;
	margin-bottom: 20px;
	font-weight: 500;
}

h4 {
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
}

p {
	font-size: 16px;
}

#sub-heading-p{
	font-size: 20px;
}

.give-imgs {
	height: 100px;
}

.col-sm-4 {
	padding-top: 20px;

}

.card {
	background-color: #f1f1f1;
}


#logo {
	width: 150px;
	position: absolute;
	top: 10px;
}
.navbar {
	margin-bottom: 0;
	height: 80px;
	background-color: RGB(125,20,28);
}

ul.nav li a{
	margin-top: 1.5em;
	color: white; 
	background-color: RGB(125,20,28);
}

ul.nav li a:hover{
	background-color: rgb(173, 126, 130);
}
.jumbotron {
	background:linear-gradient(0deg,rgba(125,20,28,.5),rgba(57,47,44,.78)),url(https://i.imgur.com/29aohQQ.jpg);
	background-size:cover;
	margin-top: 80px;
	background-position: center; 
	color: white;
	text-align: center;
	margin-bottom: 20px;
	
}



.jumbotron p {
	color: white;
	font-size: 26px;
	
}

.vertical-center {
  min-height: 100%;  
  min-height: 88vh; 
  display: flex;
  align-items: center;
}

.italic {
	font-style: italic;
}
.dropdown-menu {
	background: RGB(125,20,28);
	border-radius: 0;
	border: 0px;
	left:auto;
    width: 100%;
    top: 65px;
}



.about-image {
	height: 275px;
	margin-top: 50px;
}
.dropdown-menu li a {
	padding: 10px;
	background-color: RGB(125,20,28);
	margin: 0px;
	text-align: center;

}
.btn-primary {
	color: #fff;
	background-color: 	RGB(125,20,28);
	margin-bottom: 5px;
	border: 0px;
	border-radius: 0px;
	padding: 20px;
	text-transform: uppercase;
}
.btn-primary:hover {
	color: RGB(125,20,28);
	background-color: white;

}
.glyphicon-large {
	font-size: 100px;
}
.call-to-action {
	text-align: center;
}
.call-to-action p {
	margin-bottom: 30px;
	font-family: sans-serif;
}

.fa.fa-navicon {
  color: white;
  font-size: 36px;
  position: fixed;
  top: 20px;
  right: 30px;

}

.navbar-brand {
	margin-top: 0px;
	padding-top: 0px;
}

p {
	font-size: 16px;
}



.about-us-text {
	margin-top: 50px;
}

.img-circle {
	max-width: 300px;
	margin: auto;
}

.why {
	font-size: 75px;
	display: inline-block;
    width: 100%;
    text-align:center;
    color: #0057B8;
    margin-top: 20px;
}

.container {
	text-align: center;
	margin-top: 30px;
}


.faq {
	text-align: left;
}

.faq p {
	margin-bottom: 40px;
}

.started {
	margin-top: 40px;
}

.jumbotron-accent {
	background:linear-gradient(0deg,rgba(57,47,44,1),rgba(125,20,28,1)),url();
}

footer p{
	font-size: 16px !important;
}

/* media - hide hamburger menu at 775px

media - hide .dropdown-menu class */

@media only screen and (min-width: 760px) {
  .dropdown-menu {
  	top: 0px;
  	width: 60%;
  	right: 30;
  }
  h3 {
  	font-size: 36px;
  }

  
#logo {
	left: 40px;
	top: 20px;
}

.navbar {
	height: 90px;
}

  .card {
  	padding: 10px;
  	height: 300px;
  	margin-top: 30px;
  }
  .card:hover {
  	margin-top: 0px;
  	background-color: white;
  	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }
}